*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-size: 15px;
  --color-text: #a6a6ab;
  --color-bg: #030014;
  --color-link: #8e64ff;
  --color-link-hover: #f92672;
}
body {
  margin: 0;
  color: var(--color-text);
  // background-color: var(--color-bg);
  font-family: "neue-haas-grotesk-text", -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-size: 102% auto;
  overflow-x: hidden;
}
/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}
.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}
.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}
@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}
a:hover {
  color: var(--color-link-hover);
  outline: none;
}
/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}
a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers that do support :focus-visible */
  background: transparent;
}
a:focus-visible {
  /* Draw a very noticeable focus style for keyboard-focus on browsers that do support :focus-visible */
  outline: 2px solid red;
  background: transparent;
}
.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
.unbutton:focus {
  outline: none;
}
main {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  // padding: 4rem 2rem;
  margin: 0 auto;
}
.frame {
  z-index: 1000;
  position: relative;
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "title" "back" "prev" "sponsor";
  grid-gap: 1rem;
  justify-items: start;
  align-self: start;
  justify-self: start;
  pointer-events: none;
  align-items: center;
}
body #cdawrap {
  justify-self: start;
}
.frame a {
  pointer-events: auto;
}
.frame a:not(.frame__title-back) {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.frame a:not(.frame__title-back)::before {
  content: "";
  height: 1px;
  width: 100%;
  background: currentColor;
  position: absolute;
  top: 90%;
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}
.frame a:not(.frame__title-back):hover::before {
  transform: scaleX(0);
  transform-origin: 100% 50%;
}
.frame__title {
  grid-area: title;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 400;
}
.frame__back {
  grid-area: back;
}
.frame__prev {
  grid-area: prev;
}
.frame__demos {
  grid-area: demos;
  display: flex;
  gap: 1rem;
}
.grid {
  // display: grid;
  // margin: 10vh 0;
  // grid-template-columns: 1fr;
  // border: 1px solid #2a2b3a;
  // background: #2a2b3a;
  // gap: 1px;
  min-height: 50vh;
}
.grid__item {
  // padding: 1.5rem 1.5rem 2rem;
  display: grid;
  height: 90vh;
  gap: 1.5rem;
  background: var(--color-bg);
  align-content: start;
  grid-template-rows: auto 1fr auto;
}
.grid__item-img {
  width: 100%;
  height: 90vh;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  // display: grid;

  place-items: center;
  --x: 0px;
  --y: 0px;
}
.grid__item-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#171825 40%, #63e 50%, #8e64ff, #f92672);
  mix-blend-mode: darken;
}
.grid__item-img-deco {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "input-mono", monospace;
  font-size: 0.85rem;
  word-wrap: break-word;
  line-height: 1.15;
  color: #fff;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    black 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    black 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
}
.grid__item-img svg {
  width: 75%;
  max-width: 180px;
  position: relative;
  z-index: 1;
}
.grid__item-label {
  line-height: 1.4;
  margin: 0;
}
.grid__item-tag {
  align-self: end;
  justify-self: start;
  border: 1px solid #2a2b3a;
  border-radius: 1em;
  line-height: 0.75;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
}
@media screen and (min-width: 33em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 53em) {
  .frame {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title title sponsor" "back prev ...";
    align-content: space-between;
    justify-items: start;
    grid-row-gap: 1.5rem;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  body #cdawrap {
    justify-self: end;
  }
}

// Nav

nav {
  &.nav-wrapper {
    margin: 0;
    width: 100%;
    min-width: 320px;
    height: 48px;
    max-height: 44px;
    font-size: 17px;
    background-color: #f2f2f2;
  }

  .nav-content {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    padding: 0 22px;
  }

  .list-styled {
    cursor: default;
    margin: 0 -9px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .link-styled {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    color: #000000cc;
  }

  & a {
    text-decoration: none;
  }
}

.display-section {
  background-color: #000;
  width: 100%;
  &.wrapper {
    margin-left: auto;
    margin-right: auto;
    // max-width: 980px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 400px 0;
    height: 100vh;
    box-sizing: border-box;
    opacity: 0;
    position: relative;
  }

  .title {
    color: #86868b;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin-bottom: 0;
  }

  .text {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(180deg, #ff921a, #e00000);
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .description {
    font-size: 21px;
    font-weight: 400;
  }

  .button,
  .button:after {
    width: 100px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(45deg, transparent 5%, #f7f7f7 5%);
    border: 0;
    color: #0a0808;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #ec5108;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
  }

  .button:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "ALTERNATE TEXT";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #00e6f6 3%,
      #00e6f6 5%,
      #ff013c 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
  }

  .button:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  @media (min-width: 768px) {
    .button,
    .button:after {
      width: 100px;
      height: 86px;

      line-height: 88px;
    }
  }

  .back-button {
    background: white;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 0.6rem;
    cursor: pointer;
    transition: all 0.8s ease;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}

// Jumbotron
.jumbotron-section {
  // &.wrapper {
  //   margin-left: auto;
  //   margin-right: auto;
  //   max-width: 980px;
  //   width: 100%;

  //   box-sizing: border-box;
  //   height: calc(100vh - 40px);
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   padding-top: 60px;
  //   position: relative;
  //   z-index: 1;
  //   min-height: 831px;
  // }
  &.wrapper {
    width: 100%;

    box-sizing: border-box;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    min-height: 831px;
  }

  .title {
    color: #86868b;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.022em;
  }

  .logo {
    width: 140px;
  }

  .text {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(180deg, #999999, #e00000);
    -webkit-background-clip: text;
    // background-image: linear-gradient(180deg, #ff921a, #e00000);
    // -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .description {
    font-size: 21px;
    font-weight: 400;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    list-style: none;
  }

  .button,
  .button:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(45deg, transparent 5%, #2d2f8d 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "ALTERNATE TEXT";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #00e6f6 3%,
      #00e6f6 5%,
      #ff013c 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
  }

  .button:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  @media (min-width: 768px) {
    .button,
    .button:after {
      width: 200px;
      height: 86px;
      line-height: 88px;
    }
  }

  .link {
    text-decoration: none;
    color: #2997ff;
    font-size: 21px;
    font-weight: 400;
    margin: 0 14px;
    cursor: pointer;
  }

  .iphone-img {
    margin-right: -400px;
    height: 516px;
    position: absolute;
    bottom: 0;
  }
}

.mobile-or-tablet .iphone-img {
  display: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.intro-section {
  &.wrapper {
    width: 100%;
    color: #1d1d1f;
    background-color: #fbfbfd;
    height: 100vh;
  }

  .body {
    max-width: 980px;
    margin: 0 auto;
  }

  .content {
    max-width: 490px;
    width: 100%;
    padding: 200px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
  }

  .title {
    color: #1d1d1f;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .text {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(
      90deg,
      #1e3791 0%,
      #2948b1 40%,
      #3153c6 55%,
      #385fda 60%
    );
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .description {
    font-size: 21px;
    font-weight: 400;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    list-style: none;
  }

  .button,
  .button:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(45deg, transparent 5%, #2d2f8d 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
  }

  .button:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "ALTERNATE TEXT";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #00e6f6 3%,
      #00e6f6 5%,
      #ff013c 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
  }

  .button:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  @media (min-width: 768px) {
    .button,
    .button:after {
      width: 200px;
      height: 86px;
      line-height: 88px;
    }
  }

  .link {
    text-decoration: none;
    color: #2997ff;
    font-size: 21px;
    font-weight: 400;
    margin: 0 14px;
    cursor: pointer;
  }
}

@media screen and (max-width: 990px) {
  .jumbotron-section .iphone-img {
    display: none;
  }

  nav {
    .link-styled {
      display: none;
    }

    .list-styled {
      padding-left: 0;
    }
  }

  .jumbotron-section.wrapper,
  .intro-section.wrapper,
  .display-section.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .jumbotron-section .description,
  .intro-section .description,
  .display-section .description {
    font-size: 14px;
  }

  .jumbotron-section.wrapper,
  .intro-section .content,
  .display-section.wrapper {
    padding-top: 20px;
  }

  #webgi-canvas-container,
  .jumbotron-section.wrapper {
    min-height: 746px;
    height: 100vh;
  }

  .intro-section {
    &.wrapper {
      height: 100vh;
    }

    .content {
      max-width: 100%;
    }
  }
}

.overlay {
  z-index: 50;
  background-color: #000000;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //rotate 40 degrees
  transform: rotate(40deg) scale(1.6);
  //make it bigger
}

.content {
  padding: 1em;
  font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
  text-align: justify;
  overflow: hidden;
  border-radius: 50.5em;
  font-family: "gabellini_sheppardbook";
  font-weight: bold;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

.splitting .words .word {
  white-space: nowrap;
}

@media screen and (min-width: 53em) {
  .content {
    grid-template-columns: 15ch 1fr;
  }
}

// Webgi canvas container
#webgi-canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  z-index: 10;
  pointer-events: none;
  min-height: 831px;
  background: transparent;

  .button {
    background: #0071e3;
    color: #fff;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 400;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    position: absolute;
    top: 30px;
    border: none;
    z-index: 1;
    transition-duration: 0.3s;
  }
}
